* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
.bold {
    font-weight: bold;
}
p {
    text-align: justify;
}
a {
    text-decoration: none;
}
ul > li {
    list-style-type: none;
}
#navbar {
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;   
}
#navbar > ul > li > a {
    border: 2px solid rgb(0, 96, 223);
    border-radius: 10px;
    padding: 0.65rem 1.2rem;
    color: rgb(0, 96, 223);
}

#navbar > ul > li > a:hover {
    background-color: rgb(0, 96, 223);
    color: white;
}
#kisisel {
    display: flex;
    justify-content: space-evenly;
    background-color: #f7f2ff;
    align-items: center; 
    padding-top: 30px;
}
.resim {
    background-color:#f7f2ff;
    margin-top: 10px;
    max-width: 75%;
}
.metin {
    max-width: 50%;
}
.metin > .baslik {
    font-size:2.7rem ;
}
.metin > .metin2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    opacity: 0.7;
} 
input {
    padding:0.9rem 4rem 0.9rem 0.5rem ;
    border: 1px solid grey;
    border-radius: 7px;
    font-size: 1.2rem;
}
.tıkla{
    font-size: 1.2rem;
    background-color: #0060DF;
    color: white;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 5px;
    margin-left:1rem ;
}
.tıkla:hover {
    background-color:#0250BB ;
}
.metin3 {
    margin-top:3rem;
    font-size: 0.9rem;
}
input, .tıkla {
    margin-top: 1rem;
}
#yazı > p {
    text-align: center; 
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom:5rem ;
} 
.mor {
    color: #B833E1;
}
#ihlal {
    background-color: #F9F9FA;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0 2rem 0;
}
.alt {
    text-decoration: underline;
    color: #0060DF;
}
.h2 {
    margin-bottom: 20px;
}
#risk {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 8rem;
    padding: 2rem 0 2rem 0 ;
}

#tarayici {
    background-color: #E7DFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ortala {
    align-items: center;
    font-size: 2rem;
    margin:2rem 0 2rem 0;
}
.ortala, input {
    margin-top: 2rem;
}
#bilgi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 16px;
    gap: 8px;
    text-align: center;
}
.hizala {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:3rem ;
}
.hizala > p {
    color: #9e9e9e;
}
.hizala > img {
    padding-left: 20px;
}
#dünya {
    background-color:#F9F9FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2.5rem 0 2.5rem 0 ;
}
#dünya > h2,p,ul,li {
    padding-bottom: 1rem;
}
#dünya > ul > li > img {
    position: relative;
    top: 15px;
    right: 5px;
}
#soru {
    background-color: white;
    display: flex;
    flex-direction:column ;
    align-items: center;
    padding: 2rem 0 0 0;
}
.tablo2 {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    font-size: 1.2rem;
}
#soru > h2,a,.tablo2 {
    padding-bottom: 2rem;
}
.tablo2 >ul:nth-child(2) {
    color: blue;
    font-weight: bold;
}
#veri {
    background-color: #E7DFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 2rem 0;
}
#footer {
    /* height: 4rem; */
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0.65rem 3.6rem;
}
#footer > a {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 0.1rem 0.7rem;
    font-weight: bold;
}
#footer > a:hover {
    color: #9059FF;
}
#footer > ul {
    display: flex;
    justify-content:space-between;
}
#footer > ul > li > a {
    padding-left: 1.7rem;
    color: white;
}